// Заголовки, общие БЄМ блоки и проче...
[data-scroll-container] {
    overflow-y: hidden !important;
}
.link-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(106);
    height: rem(106);
    border-radius: 50%;
    background-color: var(--mainColor);
    color: var(--bgColor);
    font-size: rem(24);
    transition: $transition ease transform 0s;

    @media (any-hover: hover) {
        &:hover {
            transform: rotate(360deg);
        }
    }
}

._text-line {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.is-inview {
        opacity: 1;
        transform: none;
    }
}

section {
    position: relative;
    z-index: 1;
    background-color: var(--bgColor);
}

.swiper {
    // .swiper__buttons
    &__buttons {
        display: flex;
        align-items: center;
        margin: rem(-10) 0;

        & > * {
            padding: rem(10) 0;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: rem(60);
            }
        }

        // .swiper-button-prev
        .swiper-button-prev {
            &::before {
                transform: rotate(180deg);
            }
        }

        // .swiper-button-next
        .swiper-button-next {
        }
    }
}
